[submodule "zipsigner"]
	path = zipsigner
	url = https://github.com/jereksel/zip-signer
	branch = jereksel
[submodule "app/src/main/jni/ELFIO"]
	path = app/src/main/jni/ELFIO
	url = https://github.com/serge1/ELFIO.git
